
/* CONTACTO */


// PORTADA CONTACTTO

.cajaTituloPaginasContacto{
    background-image: url(../fotos/portadaContacto.jpg);
    background-size: cover;
    background-position : bottom;
    border: black solid 1px;
    width: 100%;
    height: 400px;
    text-align: center;
    
}


/* formulario */

.colorLegend{
    color: #D6DDE4 ;
    text-transform: capitalize;
}

.fondoFormulario{
    width: 100%;
    background-image: url(../fotos/centroSki6.jpg);
    background-size: cover;
    background-position: auto;
    
}

.formulario{
    margin: 30px;
    display: flex;
    justify-content: center  
   
}

.cajaFormulario{
    padding: 50px;
    width: 500px;
    border: #22262b solid 1px;
    
}

label{
    color: #fdfeff;
    text-shadow: #22262b;
}



.fondo{
    background-color: transparent $color3;
    
}

.fondoTextarea{
    background-color:  transparent $color3;
    height: 200px;

}





.ubicacionContacto{
    width: 100%;
    
}
iframe{
    width: 100%;
    height: 300px;
}