/* logo */
.cajalogo{
    color: #2A3644;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #7D7F81;
    background-image: url(../fotos/fotoPortadahorizontal.jpg);
    background-size: 100% 800px;
    background-position: center;
}

.logo{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
