/* LUGARES */

// titulo del lugar

.tituloLugar{
    margin-top: 100px;
}



/* fotos lugares CAROUSEL*/

.cajaImagenLugar{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.carouselLugares{
    width: 100%;
    height:auto;
}

.cajaImagenLugar .carousel-inner img{
    width: 100%;
    height: auto;
    
}








/* Aside lugares */

.lugaresMapa{
    display: flex;
    justify-content: space-between; 
}





@media only screen and (min-width: 768px){
    /* parrafo lugar*/
    .textoLugar{
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    /* ubicacion */
    iframe{
        width: 100%;
        height: 300px;
    }
    
}

@media only screen and (max-width: 767px){
        /* parrafo lugar*/
    .textoLugar{
        margin: 20px;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    /* ubicacion */
    iframe{
        width: 100%;   
        height: 230px;
    }
}