/* listas menu */



/* Menu hamburguesa */

 
.navbar{
    width: 100%;
    background-image: linear-gradient( to right, $color1 , $color2 ); 
}


.navbar a{
    color: #D6DDE4;
    font-size: 17px;
    text-transform: capitalize;
}  

