
/*titulo  */
h1{
    margin: 150px;
    padding: 10px 0px;
    /* border: solid red 1px; */
    color: $color1;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}



/* EFECTOS TITULOS */



h2{
    margin: 50px;
    color: #3B434C;
    text-transform: capitalize;
    text-decoration: underline 2px;
}

p{
    color: #3B434C;
    margin: 20px;
    padding: 20px; 
}


/* TAMAÑO CELU */
@media only screen and (max-width: 576px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
}
